<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38102363900-95qol3laae2u59mrnn3scv2tkdueosic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38102363900-95qol3laae2u59mrnn3scv2tkdueosic</string>
	<key>API_KEY</key>
	<string>AIzaSyAMODbOa7MlNkzigXHEQchcC-GqS06Syu8</string>
	<key>GCM_SENDER_ID</key>
	<string>38102363900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunusmakan.LoodosChallange</string>
	<key>PROJECT_ID</key>
	<string>loodoschallange-c2784</string>
	<key>STORAGE_BUCKET</key>
	<string>loodoschallange-c2784.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38102363900:ios:c14083b3e1b0134233f179</string>
</dict>
</plist>